<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid footer_bg">      
        <div class="container">
        <footer class="footer">
            <div class="footer__logo-block">
                <img
                class="footer-logo__block__logo"
                src="../img/footer-logo.png"
                alt=""
                />
                <p class="footer-logo__block__item">
                © 2020 Emun Taxi. Все права защищены.
                </p>
            </div>

            <div class="footer__block1">
                <p class="footer__block__heading">Компания:</p>
                <p class="footer__block__item">О нас</p>
                <p class="footer__block__item">Для бизнеса</p>
                <p class="footer__block__item">Для Инвесторов</p>
                <p class="footer__block__item">Для Водителей</p>
            </div>
            <div class="footer__block2">
                <p class="footer__block__heading">Наши услуги:</p>
                <p class="footer__block__item">Встреча в аэропорту</p>
                <p class="footer__block__item">Проводы в аэропорт</p>
                <p class="footer__block__item">VIP сопровождение в аэропорту</p>
                <p class="footer__block__item">Услуги персонального водителя</p>
                <p class="footer__block__item">
                Индивидуальные экскурсии по Израилю
                </p>
                <p class="footer__block__item">Услуги срочного курьера</p>
                <p class="footer__block__item">Медицинское сопровождение</p>
            </div>
            <div class="footer__block3">
                <p class="footer__block__heading">Кленту:</p>
                <p class="footer__block__item">Возврат и отмена бронирования</p>
                <p class="footer__block__item">политика конфиденциальности</p>
                <p class="footer__block__item">Условия использования</p>
                <p class="footer__block__item">Файлы Coockie</p>
            </div>
            <div class="footer__pay">
                <p class="footer__block__heading footer__block__heading_exep">Наше приложение:</p>
                <img class="footer__img1" src="../img/Google-Play.png" alt="" />
                <img class="footer__img2" src="../img/App-Store.png" alt="" />
                <p class="footer__block__heading footer__block__heading_exep">Мы принимаем:</p>
                <img class="footer__img3" src="../img/Visa.png" alt="" />
                <img class="footer__img4" src="../img/PayPal.png" alt="" />
                <img class="footer__img5" src="../img/Cash.png" alt="" />
            </div>
            </div>
        </footer>
    </div>
  </body>
</html>
