* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Proxima-Nova";
  src: url(../fonts/Proxima-Nova/Proxima-Nova.ttf);
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy/gilroy-regular.ttf);
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(../fonts/Gilroy/gilroy-bold.ttf);
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(../fonts/Gilroy/gilroy-light.otf);
}

body {
  font-family: Roboto-Regular;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
  padding: 0;
  line-height: normal;
  font-family: Roboto-Bold;
}

.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  max-width: 1920px;
  padding: 0;
}

.container-fluid_blue {
  background: rgba(240, 248, 255, 0.7);
}

.container {
  max-width: 1170px;
  position: relative;
  padding: 0;
}

p {
  margin: 0;
  line-height: normal;
}

img {
  vertical-align: unset;
}

/* -------------- end of main styles -------------- */

/* -------------- header ----------------- */
#header {
  min-height: 58px;
  background: #004e97;
}

ul {
  list-style-type: none;
}

.menu-nav__ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
}

.menu-nav__ul li {
  height: 20px;
  text-decoration: none;
  position: relative;
}

.menu-nav__ul__li1 {
  min-width: 65px;
  margin-right: 2.68rem;
}
.menu-nav__ul__li2 {
  min-width: 85px;
  margin-right: 2.68rem;
}
.menu-nav__ul__li3 {
  min-width: 68px;
  margin-right: 2.81rem;
}
.menu-nav__ul__li4 {
  min-width: 128px;
  margin-right: 2.5rem;
}
.menu-nav__ul__li5 {
  min-width: 164px;
  margin-right: 2.5rem;
}
.menu-nav__ul__li6 {
  min-width: 60px;
  margin-right: 2.81rem;
}
.menu-nav__ul__li7 {
  min-width: 71px;
  margin-right: 6.93rem;
}

.menu-nav__ul__li8 {
  min-width: 162px;
}

.menu-nav__ul li a {
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 0.93rem;
  color: #fff;
}

.menu-nav__ul li:hover {
  cursor: pointer;
}

.header__nav-menu__dropdown1,
.header__nav-menu__dropdown2,
.header__nav-menu__dropdown3 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  min-width: 120px;
  display: none;
  background: #004e97;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 3px;
}

.header__nav-menu__dropdown2 {
  left: 30px;
}

.menu-nav__ul li:hover > ul,
.menu-nav__ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.menu-nav__ul li ul li {
  clear: both;
  padding: 5px 10px;
  display: block;
}

.menu-nav__ul__img {
  height: 4px;
  width: 10px;
}

.img__person {
  margin-right: 9px;
}

.img__arrow1,
.img__arrow2 {
  position: absolute;
  height: 4px;
  width: 10px;
  margin-left: 8px;
  top: 12px;
}

.img__arrow1 {
  top: 10px;
}

#menu-nav__toggle {
  opacity: 0;
}

.hidden {
  display: none;
}

p {
  line-height: unset;
}

/* --------------- header-menu ---------------- */

.header-menu {
  display: flex;
  flex-wrap: wrap;
  min-height: 80px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.header__logo {
  display: block;
  width: 222px;
  float: left;
}

.logo {
  margin-top: 11px;
}

.header__logo_small {
  width: 146px;
  height: 46px;
  margin-left: 20px;
  margin-top: 8px;
}

.header__logo__line {
  width: 1px;
  display: block;
  height: 68px;
  border: 1px solid #e4e4e4;
  transform: rotate(180deg);
  margin-top: 6px;
  float: left;
}

.header-menu__info {
  position: relative;
  min-height: 80px;
  width: 573px;
  display: block;
  float: left;
}

.header-menu__info__item1 {
  float: left;
  width: 166px;
  margin-top: 20px;
  margin-left: 2.25rem;
  font-family: Roboto-Regular;
  font-size: 17px;
  line-height: 20px;
  color: #181818;
}

.header-menu__info__item2 {
  float: left;
  margin-left: 6px;
  margin-top: 31px;
}

.header-menu__info__img1 {
  float: left;
  margin-left: 10.87rem;
  margin-top: 29px;
  cursor: pointer;
}

.header-menu__info__img2 {
  float: left;
  margin-left: 6px;
  margin-top: 38px;
  cursor: pointer;
}

.header-menu__info__img3 {
  float: left;
  margin-left: 31px;
  margin-top: 30px;
  cursor: pointer;
}

.header-menu__info__img4 {
  float: left;
  margin-left: 11px;
  margin-top: 38px;
  cursor: pointer;
}

.menu-block__contacts {
  position: relative;
  height: 80px;
  float: left;
  width: 369px;
}

.menu-block__contacts__item1 {
  margin-top: 17px;
  margin-bottom: 6px;
  margin-left: 29px;
  height: 20px;
  font-family: Roboto-Light;
  font-size: 15px;
  color: #181818;
  margin-right: 20px;
}

.menu-block__contacts__item2 {
  margin-left: 29px;
  height: 20px;
  font-family: Roboto-Bold;
  font-size: 18px;
  line-height: 20px;
  color: #181818;
  margin-right: 20px;
}

.header-menu__button {
  position: absolute;
  top: 19px;
  right: 0;
  width: 164px;
  height: 43px;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border: none;
  border-radius: 2px;
  background: #f6a409;
  color: #ffffff;
  font-family: Roboto-Bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.page-description__wrapper {
  height: 44px;
  background: rgba(196, 196, 196, 0.1);
  margin-bottom: 49px;
}

.page__description {
  font-family: Gilroy;
  font-size: 13px;
  line-height: 44px;
  color: #818181;
}

/*----------------------------------*/

.way__img {
  position: absolute;
  top: 0;
  right: 0;
}

.transfer__heading {
  font-family: Roboto-Bold;
  font-size: 36px;
  line-height: 36px;
  color: #181818;
}

.short__line {
  margin-top: 16px;
  margin-bottom: 33px;
  width: 100px;
  background: #f6a409;
  border: 1.5px solid #f6a409;
}
.short__line_margin {
  margin-bottom: 16px;
}

/* ------------ cabinet ------------ */
.cabinet__wrapper {
  display: flex;
}

.cabinet {
  width: 368px;
  height: 100px;
}

.cabinet__block1,
.cabinet__block2,
.cabinet__block3,
.cabinet__block4 {
  display: flex;
  width: 368px;
  height: 60px;
  border-bottom: 1px solid #ffffff;
  background: #004e97;
  font-family: Gilroy-Bold;
  font-size: 16px;
  color: #ffffff;
  line-height: 60px;
  cursor: pointer;
}

.cabinet__block1 {
  background: #f6a409;
  border-radius: 4px 4px 0px 0px;
}

.cabinet__block4 {
  border-radius: 0px 0px 4px 4px;
}

.cabinet__img1 {
  width: 18px;
  height: 24px;
  margin-top: 18px;
  margin-left: 22px;
  margin-right: 17px;
}

.cabinet__img2 {
  width: 21px;
  height: 21px;
  margin-top: 19px;
  margin-left: 21px;
  margin-right: 17px;
}

.cabinet__img3 {
  width: 18px;
  height: 24px;
  margin-top: 17px;
  margin-left: 22px;
  margin-right: 19px;
}

.cabinet__img4 {
  width: 22px;
  height: 22px;
  margin-top: 19px;
  margin-left: 21px;
  margin-right: 16px;
}

/* ----------- cabinet__card  ----------- */

.cabinet__card__wrapper {
  width: 770px;
  margin-left: 32px;
}

.cabinet__input {
  position: relative;
}

.cabinet__input input {
  background: #ffffff;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  border-radius: 6px;
  width: 770px;
  height: 50px;
  margin-bottom: 23px;
  font-family: Roboto-Light;
  font-size: 13px;
  line-height: 20px;
  color: #181818;
  opacity: 0.7;
  padding: 15px 0 15px 24px;
}

.cabinet__input img {
  position: absolute;
  top: 14px;
  right: 18px;
}

.cabinet__card {
  display: flex;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 11px;
  height: 170px;
}

.cabinet__card__block1 {
  position: relative;
  padding: 9px;
}

.cabinet__card__block1__info1,
.cabinet__card__block1__info2 {
  position: absolute;
}

.cabinet__card__block1__info1 {
  background: #cbe6ff;
  border-radius: 5px 0px 2px;
  border: none;
  width: 170px;
  height: 35px;
  top: 0;
  left: 0;
  text-align: center;
}

.cabinet__card__block1__info2 {
  background: #004e97;
  border-radius: 2px;
  width: 87px;
  height: 35px;
  bottom: 22px;
  right: 19px;
  text-align: center;
}

.cabinet__card__block1__item1 {
  font-family: Roboto-Bold;
  font-size: 13px;
  line-height: 35px;
  color: #004e97;
}

.cabinet__card__block1__item2 {
  font-family: Roboto-Bold;
  font-size: 14px;
  line-height: 35px;
  color: #ffffff;
}

.cabinet__label {
  bottom: 26px;
  right: 20px;
  position: absolute;
  width: 87px;
  height: 35px;
  background: #004e97;
  border-radius: 2px;
  text-align: center;
  line-height: 35px;
  font-family: Roboto-Bold;
  font-size: 14px;
  color: #ffffff;
}

.cabinet__card__block2 {
  margin: 31px 0 0 19px;
  width: 290px;
}

.cabinet__card__block2__item1 {
  font-family: Roboto-Bold;
  font-size: 18px;
  line-height: 24px;
  color: #181818;
  margin-bottom: 4px;
  width: 270px;
  margin-right: 63px;
}

.cabinet__card__block2__item1 span {
  font-family: Roboto-Light;
  font-size: 14px;
  line-height: 20px;
  color: #181818;
}

.cabinet__card__block2__item2 {
  height: 20px;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #181818;
  margin-bottom: 13px;
}

.cabinet__card__block2__item2 img {
  width: 22px;
  height: 22px;
}

.cabinet__card__block2__item4 {
  width: 295px;
  font-family: Roboto-Light;
  font-size: 14px;
  line-height: 20px;
  color: #181818;
  margin-bottom: 17px;
}

.cabinet__card__block2__item3 {
  height: 20px;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #181818;
}

.cabinet__card__block2__item2 img,
.cabinet__card__block2__item3 img {
  margin-right: 11.7px;
}

.cabinet__vertical__line {
  height: 156px;
  border: 0.5px solid #cbe6ff;
  transform: rotate(180deg);
  margin: auto 0;
}

.cabinet__item__wrapper {
  display: flex;
}

.cabinet__card__block3__item1 {
  font-family: Roboto-Bold;
  font-size: 16px;
  color: #535353;
  text-decoration: line-through;
  margin-top: 23px;
  margin-left: 53px;
  margin-right: 15px;
  height: 26px;
}

.cabinet__card__block3__item2 {
  font-family: Roboto-Bold;
  height: 26px;
  font-size: 18px;
  color: #181818;
  margin-top: 23px;
}

.cabinet__card__block3__item3 {
  width: 104px;
  margin-top: 1px;
  margin-left: 52px;
  font-family: Roboto-Light;
  font-size: 14px;
  line-height: 16px;
  color: #181818;
}

.cabinet__card__block3 button {
  margin-top: 12px;
  margin-left: 25px;
  margin-right: 19px;
  width: 150px;
  height: 44px;
  border-radius: 2px;
  border: none;
  font-family: Roboto-Bold;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.blue {
  background: #1299e4;
}

.green {
  background: #2da771;
}

.red {
  background: #eb5757;
}

.orange {
  background: #f6a409;
}

.cabinet__card__block3__item4 {
  text-align: center;
  margin-top: 12px;
}

.cabinet__card__block3__item4 a {
  font-family: Roboto-Bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  color: #f6a409;
}

.cabinet__card__block4 {
  width: 46px;
}

.cabinet__card__block4 img {
  margin: 75px 12px;
  cursor: pointer;
}

/* --------------- pagination --------------- */

.pagination {
  width: 384px;
  margin: 30px auto;
  display: flex;
  cursor: pointer;
  margin-bottom: 80px;
}

.pagination__margin {
  margin-top: 20px;
  margin-left: 590px;
}

.pagination__block_img1,
.pagination__block_img2 {
  position: relative;
  width: 48px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
}

.pagination__block_img2 {
  border-radius: 0px 4px 4px 0px;
}

.pagination__block_img1 img {
  position: absolute;
  top: 18px;
  left: 12px;
  transform: rotate(-90deg);
}

.pagination__block_img2 img {
  position: absolute;
  top: 18px;
  left: 12px;
  transform: rotate(90deg);
}

.pagination__block {
  width: 48px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  line-height: 48px;
}

.pagination__block p {
  line-height: 48px;
  text-align: center;
  font-family: Gilroy;
  font-size: 16px;
  color: #535353;
}

.pagination__block_ampty {
  border: none;
  height: 48px;
  width: 48px;
  font-size: 16px;
  margin-top: 8.5px;
  text-align: center;
  font-family: Gilroy;
  font-size: 16px;
  color: #535353;
}

/* -------- mobile-app__social -------- */

.mobile-app__social {
  padding: 1px;
  width: 1173px;
  height: 270px;
  background: #f0f8ff;
  border-radius: 4px;
  margin-bottom: 100px;
}

.mobile-app__social__item {
  text-align: center;
  font-family: Roboto-Bold;
  font-size: 32px;
  line-height: 36px;
  color: #181818;
  width: 538px;
  margin: 81px auto 24px;
}

.mobile-app__social__block {
  width: 370px;
  margin: 24px auto;
}
.mobile-app__social__block img {
  cursor: pointer;
  margin-right: 10px;
}

.container-fluid {
  position: relative;
}

.up__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 2px;
  transform: rotate(180deg);
  bottom: 36px;
  left: 41px;
  cursor: pointer;
}

.up__btn img {
  width: 15px;
  height: 7.5px;
}

.message__send {
  position: absolute;
  width: 54px;
  height: 54px;
  text-align: center;
  line-height: 75px;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 96px;
  border: none;
  border-radius: 50%;
  bottom: 36px;
  right: 45px;
  cursor: pointer;
}

.footer__line {
  height: 1px;
  background: #cbe6ff;
  margin-bottom: 11.66px;
}

/* ------------------- footer ------------------ */
.footer_bg {
  background: #f0f8ff;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
  min-height: 340px;
}

.footer__logo-block {
  margin-top: 45px;
  margin-right: 68px;
}

.footer-logo__block__item {
  width: 133px;
  height: 40px;
  margin-top: 22px;
  font-family: Roboto-Light;
  font-size: 13px;
  line-height: 20px;
  color: #535353;
}

.footer__block1,
.footer__block2,
.footer__block3,
.footer__pay {
  margin-top: 54px;
  margin-right: 70px;
}

.footer__block1 {
  width: 102px;
}

.footer__block2 {
  width: 254px;
}

.footer__block3 {
  width: 201px;
}

.footer__pay {
  width: 160px;
  margin-right: 0;
}

.footer__block__heading {
  font-family: Roboto-Bold;
  font-size: 15px;
  line-height: 24px;
  color: #181818;
  margin-bottom: 6px;
}

.footer__block__heading_exep {
  margin-bottom: 9px;
}

.footer__block__item {
  font-family: Roboto-Regular;
  font-size: 13px;
  line-height: 20px;
  color: #535353;
}

.footer__img1,
.footer__img2 {
  width: 111.38px;
  height: 33px;
}

.footer__img1 {
  margin-bottom: 10px;
}

.footer__img2 {
  margin-bottom: 27px;
}
