* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Proxima-Nova";
  src: url(../fonts/Proxima-Nova/Proxima-Nova.ttf);
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy/gilroy-regular.ttf);
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(../fonts/Gilroy/gilroy-bold.ttf);
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(../fonts/Gilroy/gilroy-light.otf);
}

body {
  font-family: Roboto-Regular;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
  padding: 0;
  line-height: normal;
  font-family: Roboto-Bold;
}

.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  max-width: 1920px;
  padding: 0;
}

.container-fluid_blue {
  background: rgba(240, 248, 255, 0.7);
}

.container {
  max-width: 1170px;
  position: relative;
  padding: 0;
}

p {
  margin: 0;
  line-height: normal;
}

img {
  vertical-align: unset;
}

/* -------------- end of main styles -------------- */

/* -------------- header ----------------- */
#header {
  min-height: 58px;
  background: #004e97;
}

ul {
  list-style-type: none;
}

.menu-nav__ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
}

.menu-nav__ul li {
  height: 20px;
  text-decoration: none;
  position: relative;
}

.menu-nav__ul__li1 {
  min-width: 65px;
  margin-right: 2.68rem;
}
.menu-nav__ul__li2 {
  min-width: 85px;
  margin-right: 2.68rem;
}
.menu-nav__ul__li3 {
  min-width: 68px;
  margin-right: 2.81rem;
}
.menu-nav__ul__li4 {
  min-width: 128px;
  margin-right: 2.5rem;
}
.menu-nav__ul__li5 {
  min-width: 164px;
  margin-right: 2.5rem;
}
.menu-nav__ul__li6 {
  min-width: 60px;
  margin-right: 2.81rem;
}
.menu-nav__ul__li7 {
  min-width: 71px;
  margin-right: 6.93rem;
}

.menu-nav__ul__li8 {
  min-width: 162px;
}

.menu-nav__ul li a {
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 0.93rem;
  color: #fff;
}

.menu-nav__ul li:hover {
  cursor: pointer;
}

.header__nav-menu__dropdown1,
.header__nav-menu__dropdown2,
.header__nav-menu__dropdown3 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  min-width: 120px;
  display: none;
  background: #004e97;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 3px;
}

.header__nav-menu__dropdown2 {
  left: 30px;
}

.menu-nav__ul li:hover > ul,
.menu-nav__ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.menu-nav__ul li ul li {
  clear: both;
  padding: 5px 10px;
  display: block;
}

.menu-nav__ul__img {
  height: 4px;
  width: 10px;
}

.img__person {
  margin-right: 9px;
}

.img__arrow1,
.img__arrow2 {
  position: absolute;
  height: 4px;
  width: 10px;
  margin-left: 8px;
  top: 12px;
}

.img__arrow1 {
  top: 10px;
}

#menu-nav__toggle {
  opacity: 0;
}

.hidden {
  display: none;
}

/* --------------- header-menu ---------------- */

.header-menu {
  display: flex;
  flex-wrap: wrap;
  min-height: 80px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.header__logo {
  display: block;
  width: 222px;
  float: left;
}

.logo {
  margin-top: 11px;
}

.header__logo_small {
  width: 146px;
  height: 46px;
  margin-left: 20px;
  margin-top: 8px;
}

.header__logo__line {
  width: 1px;
  display: block;
  height: 68px;
  border: 1px solid #e4e4e4;
  transform: rotate(180deg);
  margin-top: 6px;
  float: left;
}

.header-menu__info {
  position: relative;
  min-height: 80px;
  width: 573px;
  display: block;
  float: left;
}

.header-menu__info__item1 {
  float: left;
  width: 166px;
  margin-top: 20px;
  margin-left: 2.25rem;
  font-family: Roboto-Regular;
  font-size: 17px;
  line-height: 20px;
  color: #181818;
}

.header-menu__info__item2 {
  float: left;
  margin-left: 6px;
  margin-top: 31px;
}

.header-menu__info__img1 {
  float: left;
  margin-left: 10.87rem;
  margin-top: 29px;
  cursor: pointer;
}

.header-menu__info__img2 {
  float: left;
  margin-left: 6px;
  margin-top: 38px;
  cursor: pointer;
}

.header-menu__info__img3 {
  float: left;
  margin-left: 31px;
  margin-top: 30px;
  cursor: pointer;
}

.header-menu__info__img4 {
  float: left;
  margin-left: 11px;
  margin-top: 38px;
  cursor: pointer;
}

.menu-block__contacts {
  position: relative;
  height: 80px;
  float: left;
  width: 369px;
}

.menu-block__contacts__item1 {
  margin-top: 17px;
  margin-bottom: 6px;
  margin-left: 29px;
  height: 20px;
  font-family: Roboto-Light;
  font-size: 15px;
  color: #181818;
  margin-right: 20px;
}

.menu-block__contacts__item2 {
  margin-left: 29px;
  height: 20px;
  font-family: Roboto-Bold;
  font-size: 18px;
  line-height: 20px;
  color: #181818;
  margin-right: 20px;
}

.header-menu__button {
  position: absolute;
  top: 19px;
  right: 0;
  width: 164px;
  height: 43px;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border: none;
  border-radius: 2px;
  background: #f6a409;
  color: #ffffff;
  font-family: Roboto-Bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.page-description__wrapper {
  height: 44px;
  background: rgba(196, 196, 196, 0.1);
  margin-bottom: 49px;
}

.page__description {
  font-family: Gilroy;
  font-size: 13px;
  line-height: 44px;
  color: #818181;
}

/* -------------------------------- */

.way__img {
  position: absolute;
  top: 0;
  right: 0;
}

.transfer__heading {
  font-family: Roboto-Bold;
  font-size: 36px;
  line-height: 36px;
  color: #181818;
}

.short__line {
  margin-top: 16px;
  margin-bottom: 30px;
  width: 100px;
  background: #f6a409;
  border: 1.5px solid #f6a409;
}
/* --------------------------------- */

/* ------------- courier-info ------------- */

.courier-info {
  height: 250px;
  background: #ffffff;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 80px;
}

.courier-block__item2 {
  margin-top: 34px;
  margin-right: 55px;
  margin-left: 52px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 28px;
  color: #535353;
}

.courier-block__button {
  width: 170px;
  height: 50px;
  margin-top: 16px;
  margin-left: 52px;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 2px;
  border: none;
  text-align: center;
  line-height: 50px;
  font-family: Roboto-Bold;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

/* ------------ courier__list -------------- */

.courier__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.courier__list__block__heading {
  font-family: Roboto-Bold;
  margin-bottom: 12px;
  font-size: 26px;
  line-height: 36px;
  color: #181818;
}

.courier__list__item {
  font-family: Gilroy-Light;
  font-size: 16px;
  line-height: 28px;
  color: #181818;
}

.courier__list__block1 {
  width: 570px;
}

.courier__list__block2 {
  width: 560px;
}

.point {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  background: #004e97;
  margin-right: 18px;
  margin-bottom: 1px;
}

/* --------------- courier ---------------- */

.courier {
  display: flex;
  overflow: hidden;
}

.courier__wrapper {
  height: 578px;
  padding-top: 88px;
  margin-bottom: 86px;
}

.courier__item {
  margin-top: 20px;
  margin-left: 42px;
}

.courier-block__heading {
  font-family: Roboto-Bold;
  margin-bottom: 24px;
  font-size: 26px;
  line-height: 36px;
  color: #181818;
}

/* ----------- info__block ------------ */

.courier__infoblock__item {
  margin-top: 16px;
  margin-bottom: 102px;
  font-family: Roboto-Bold;
  font-size: 18px;
  line-height: 28px;
  color: #181818;
}

.courier__info__block {
  display: flex;
}

.courier-block__heading__second {
  width: 479px;
  font-family: Roboto-Bold;
  margin-bottom: 17px;
  font-size: 26px;
  line-height: 36px;
  color: #181818;
}

.container-fluid_blue {
  background: rgba(240, 248, 255, 0.6);
}

.courier__info__block__item {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 28px;
  color: #181818;
}

.courier__info__block__item span {
  font-family: Gilroy-Bold;
  font-size: 16px;
  line-height: 28px;
  color: #181818;
}

.courier__infoblock__card__img-block {
  position: relative;
}

.courier__infoblock__card__img-block img {
  position: absolute;
}

.courier__info__block__number {
  position: absolute;
  top: 8px;
  width: 54px;
  height: 54px;
  border: 1.55769px solid #004e97;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 333;
  font-family: Roboto-Regular;
  font-size: 22.7139px;
  line-height: 23px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  color: #004e97;
}

.courier__infoblock__card__item {
  width: 190px;
  padding-top: 86px;
  margin-right: 55px;
}

.courier__infoblock__card__item p {
  font-family: Roboto-Light;
  font-size: 16px;
  line-height: 28px;
  color: #181818;
}

/* ---------- courier-info-block ----------- */

.courier-info-block {
  margin-bottom: 87px;
}

.courier-info-block__item1 {
  padding-top: 88px;
  margin-bottom: 10px;
  font-family: Roboto-Bold;
  font-size: 26px;
  line-height: 36px;
  color: #181818;
}

.courier-info-block__item2 {
  padding-bottom: 81px;
  font-family: Gilroy-Light;
  font-size: 16px;
  line-height: 28px;
  color: #181818;
}

/* ----------- courier__map-block ------------ */

.courier__map-block {
  height: 399px;
  background: #ffffff;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-bottom: 80px;
}

.courier__map-block__wrapper {
  margin: 22px 30px 31px 30px;
}

.courier__map-section__block__heading {
  margin-bottom: 10px;
  font-family: Roboto-Bold;
  font-size: 16px;
  color: #181818;
  text-align: left;
  margin-top: 16px;
}

.courier__map-section__block__input1__wrapper {
  display: inline-block;
  position: relative;
}

.courier__map-section__block__input {
  background: #f0f8ff;
  border: 1px solid #cbe6ff;
  border-radius: 2px;
  color: #181818;
  line-height: 20px;
  font-size: 14px;
  font-family: Roboto-Light;
  height: 2.87rem;
  padding-left: 39px;
  width: 11.25rem;
  margin-right: 20px;
}

.courier__map-section__block__input_long {
  width: 23.75rem;
}

.courier__map-section__block__img {
  position: absolute;
  top: 13px;
  left: 12px;
  cursor: pointer;
}

.courier__map-section__block__input1__wrapper {
  display: inline-block;
  position: relative;
}

.courier__map-section__block__arrow1 {
  position: absolute;
  top: 14px;
  right: 13px;
  width: 10px;
  height: 4px;
  cursor: pointer;
}

.courier__map-section__block__arrow2 {
  position: absolute;
  top: 28px;
  right: 13px;
  width: 10px;
  height: 4px;
  cursor: pointer;
}

.courier__map__arrow {
  position: absolute;
  top: 22px;
  right: 13px;
  width: 10px;
  height: 4px;
  cursor: pointer;
}

.courier__map-section__block__button {
  width: 180px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: none;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 2px;
  color: #ffffff;
  font-family: Roboto-Bold;
  font-size: 16px;
  margin-top: -3px;
  cursor: pointer;
  margin-top: 42px;
}

.courier__img__bloc {
  float: right;
  margin-top: 46px;
}

.courier__data__wrapper {
  float: left;
  display: inline-flex;
  margin-right: 33px;
}

.courier__map-section__first-wrapper {
  float: left;
}

.courier__map-section__first-wrapper,
.courier__map-section__second-wrapper,
.courier__map-section__third-wrapper {
  display: inline-block;
}

.courier__map-section__second-wrapper,
.courier__map-section__fourth-wrapper,
.courier__map-section__sixth-wrapper {
  margin-right: 20px;
}

.courier__map-section__fifth-wrapper {
  display: flex;
  margin-top: 161px;
}

.courier__wrap {
  display: flex;
}

.courier__map__card__wrapper {
  position: relative;
  margin-top: 65px;
  padding-left: 82px;
  display: flex;
}

.input-block__wrapper__main {
  display: flex;
  padding-top: 15px;
}

.input-block__wrapper {
  margin-right: 52px;
  width: 120px;
}

.label1 {
  position: relative;
  cursor: pointer;
  position: relative;
  font-size: 13px;
}

input[type="radio"] {
  display: none;
}

.label1:before {
  content: "";
  display: block;
  height: 26px;
  width: 26px;
  border: none;
  border-radius: 50%;
  background: #f0f8ff;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  position: absolute;
}

.input__check1:checked + .label1:before {
  content: url("/img/circle.png");
  color: #004e97;
  text-align: center;
  line-height: 30px;
}

.input-label__span {
  margin-left: 39px;
  font-family: Roboto-Regular;
  font-size: 15px;
  line-height: 25px;
  color: #181818;
  display: inline-block;
  margin-bottom: 10px;
}

.courier__map-section__block__heading_exept {
  margin-bottom: 10px;
  font-family: Roboto-Bold;
  font-size: 16px;
  color: #181818;
  text-align: left;
}

.courier__wrap2 {
  position: relative;
  margin-right: 50px;
}

.courier__wrap2__add-img {
  position: absolute;
  top: 55px;
  right: -12.25px;
  bottom: 49px;
  cursor: pointer;
}

.courier__map-section__img-wrapper {
  margin-top: 46px;
}

/* -------- mobile-app__social -------- */

.mobile-app__social {
  padding: 1px;
  width: 1173px;
  height: 270px;
  background: #f0f8ff;
  border-radius: 4px;
  margin-bottom: 100px;
}

.mobile-app__social__item {
  text-align: center;
  font-family: Roboto-Bold;
  font-size: 32px;
  line-height: 36px;
  color: #181818;
  width: 538px;
  margin: 81px auto 24px;
}

.mobile-app__social__block {
  width: 370px;
  margin: 24px auto;
}
.mobile-app__social__block img {
  cursor: pointer;
  margin-right: 10px;
}

.container-fluid {
  position: relative;
}

.up__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 2px;
  transform: rotate(180deg);
  bottom: 36px;
  left: 41px;
  cursor: pointer;
}

.up__btn img {
  width: 15px;
  height: 7.5px;
}

.message__send {
  position: absolute;
  width: 54px;
  height: 54px;
  text-align: center;
  line-height: 75px;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 96px;
  border: none;
  border-radius: 50%;
  bottom: 36px;
  right: 45px;
  cursor: pointer;
}

.footer__line {
  height: 1px;
  background: #cbe6ff;
  margin-bottom: 11.66px;
}

/* ------------------- footer ------------------ */
.footer_bg {
  background: #f0f8ff;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
  min-height: 340px;
}

.footer__logo-block {
  margin-top: 45px;
  margin-right: 68px;
}

.footer-logo__block__item {
  width: 133px;
  height: 40px;
  margin-top: 22px;
  font-family: Roboto-Light;
  font-size: 13px;
  line-height: 20px;
  color: #535353;
}

.footer__block1,
.footer__block2,
.footer__block3,
.footer__pay {
  margin-top: 54px;
  margin-right: 70px;
}

.footer__block1 {
  width: 102px;
}

.footer__block2 {
  width: 254px;
}

.footer__block3 {
  width: 201px;
}

.footer__pay {
  width: 160px;
  margin-right: 0;
}

.footer__block__heading {
  font-family: Roboto-Bold;
  font-size: 15px;
  line-height: 24px;
  color: #181818;
  margin-bottom: 6px;
}

.footer__block__heading_exep {
  margin-bottom: 9px;
}

.footer__block__item {
  font-family: Roboto-Regular;
  font-size: 13px;
  line-height: 20px;
  color: #535353;
}

.footer__img1,
.footer__img2 {
  width: 111.38px;
  height: 33px;
}

.footer__img1 {
  margin-bottom: 10px;
}

.footer__img2 {
  margin-bottom: 27px;
}
