* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Proxima-Nova";
  src: url(../fonts/Proxima-Nova/Proxima-Nova.ttf);
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy/gilroy-regular.ttf);
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(../fonts/Gilroy/gilroy-bold.ttf);
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(../fonts/Gilroy/gilroy-light.otf);
}

body {
  font-family: Roboto-Regular;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
  padding: 0;
  line-height: normal;
  font-family: Roboto-Bold;
}

.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  max-width: 1920px;
  padding: 0;
}

.container-fluid_blue {
  background: rgba(240, 248, 255, 0.7);
}

.container {
  max-width: 1170px;
  position: relative;
  padding: 0;
}

p {
  margin: 0;
  line-height: normal;
}

img {
  vertical-align: unset;
}

/* -------------- end of main styles -------------- */

/* -------------- header ----------------- */
#header {
  min-height: 58px;
  background: #004e97;
}

ul {
  list-style-type: none;
}

.menu-nav__ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
}

.menu-nav__ul li {
  height: 20px;
  text-decoration: none;
  position: relative;
}

.menu-nav__ul__li1 {
  min-width: 65px;
  margin-right: 2.68rem;
}
.menu-nav__ul__li2 {
  min-width: 85px;
  margin-right: 2.68rem;
}
.menu-nav__ul__li3 {
  min-width: 68px;
  margin-right: 2.81rem;
}
.menu-nav__ul__li4 {
  min-width: 128px;
  margin-right: 2.5rem;
}
.menu-nav__ul__li5 {
  min-width: 164px;
  margin-right: 2.5rem;
}
.menu-nav__ul__li6 {
  min-width: 60px;
  margin-right: 2.81rem;
}
.menu-nav__ul__li7 {
  min-width: 71px;
  margin-right: 6.93rem;
}

.menu-nav__ul__li8 {
  min-width: 162px;
}

.menu-nav__ul li a {
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 0.93rem;
  color: #fff;
}

.menu-nav__ul li:hover {
  cursor: pointer;
}

.header__nav-menu__dropdown1,
.header__nav-menu__dropdown2,
.header__nav-menu__dropdown3 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  min-width: 120px;
  display: none;
  background: #004e97;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 3px;
}

.header__nav-menu__dropdown2 {
  left: 30px;
}

.menu-nav__ul li:hover > ul,
.menu-nav__ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.menu-nav__ul li ul li {
  clear: both;
  padding: 5px 10px;
  display: block;
}

.menu-nav__ul__img {
  height: 4px;
  width: 10px;
}

.img__person {
  margin-right: 9px;
}

.img__arrow1,
.img__arrow2 {
  position: absolute;
  height: 4px;
  width: 10px;
  margin-left: 8px;
  top: 12px;
}

.img__arrow1 {
  top: 10px;
}

#menu-nav__toggle {
  opacity: 0;
}

.hidden {
  display: none;
}

p {
  line-height: unset;
}

/* --------------- header-menu ---------------- */

.header-menu {
  display: flex;
  flex-wrap: wrap;
  min-height: 80px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.header__logo {
  display: block;
  width: 222px;
  float: left;
}

.logo {
  margin-top: 11px;
}

.header__logo_small {
  width: 146px;
  height: 46px;
  margin-left: 20px;
  margin-top: 8px;
}

.header__logo__line {
  width: 1px;
  display: block;
  height: 68px;
  border: 1px solid #e4e4e4;
  transform: rotate(180deg);
  margin-top: 6px;
  float: left;
}

.header-menu__info {
  position: relative;
  min-height: 80px;
  width: 573px;
  display: block;
  float: left;
}

.header-menu__info__item1 {
  float: left;
  width: 166px;
  margin-top: 20px;
  margin-left: 2.25rem;
  font-family: Roboto-Regular;
  font-size: 17px;
  line-height: 20px;
  color: #181818;
}

.header-menu__info__item2 {
  float: left;
  margin-left: 6px;
  margin-top: 31px;
}

.header-menu__info__img1 {
  float: left;
  margin-left: 10.87rem;
  margin-top: 29px;
  cursor: pointer;
}

.header-menu__info__img2 {
  float: left;
  margin-left: 6px;
  margin-top: 38px;
  cursor: pointer;
}

.header-menu__info__img3 {
  float: left;
  margin-left: 31px;
  margin-top: 30px;
  cursor: pointer;
}

.header-menu__info__img4 {
  float: left;
  margin-left: 11px;
  margin-top: 38px;
  cursor: pointer;
}

.menu-block__contacts {
  position: relative;
  height: 80px;
  float: left;
  width: 369px;
}

.menu-block__contacts__item1 {
  margin-top: 17px;
  margin-bottom: 6px;
  margin-left: 29px;
  height: 20px;
  font-family: Roboto-Light;
  font-size: 15px;
  color: #181818;
  margin-right: 20px;
}

.menu-block__contacts__item2 {
  margin-left: 29px;
  height: 20px;
  font-family: Roboto-Bold;
  font-size: 18px;
  line-height: 20px;
  color: #181818;
  margin-right: 20px;
}

.header-menu__button {
  position: absolute;
  top: 19px;
  right: 0;
  width: 164px;
  height: 43px;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border: none;
  border-radius: 2px;
  background: #f6a409;
  color: #ffffff;
  font-family: Roboto-Bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.page-description__wrapper {
  height: 44px;
  background: rgba(196, 196, 196, 0.1);
  margin-bottom: 49px;
}

.page__description {
  font-family: Gilroy;
  font-size: 13px;
  line-height: 44px;
  color: #818181;
}

/*----------------------------------*/

.way__img {
  position: absolute;
  top: 0;
  right: 0;
}

.enter__heading {
  text-align: center;
  font-family: Roboto-Bold;
  font-size: 36px;
  line-height: 36px;
  color: #181818;
}

.short__line {
  margin: 16px auto 28px;
  width: 100px;
  background: #f6a409;
  border: 1.5px solid #f6a409;
}

/* ---------------- enter-email-block --------------- */

.enter__heading {
  text-align: center;
  font-family: Roboto-Bold;
  font-size: 36px;
  line-height: 36px;
  color: #181818;
}

.enter__form {
  width: 330px;
  margin: 0 auto;
  margin-bottom: 183px;
}

.enter__radio {
  height: 30px;
  display: flex;
}

.enter__label1,
.enter__label2 {
  position: relative;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  margin-right: 36px;
}

input[type="radio"] {
  display: none;
}

.enter__label1:before,
.enter__label2:before {
  content: "";
  display: inline-block;
  height: 26px;
  width: 26px;
  border: none;
  border-radius: 50%;
  background: #f0f8ff;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  position: absolute;
}

.enter__input__check1:checked + .enter__label1:before,
.enter__input__check2:checked + .enter__label2:before {
  content: url("/img/middle-circle.png");
  color: #004e97;
  text-align: center;
  line-height: 27px;
}

.enter__input-label__span1,
.enter__input-label__span2 {
  font-family: Gilroy-Bold;
  font-size: 16px;
  line-height: 19px;
  margin-top: 2px;
  color: #181818;
}

.enter__input-label__span1 {
  margin-right: 19px;
}

.enter__input__container {
  width: 330px;
  height: 46px;
  background: #f0f8ff;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  border-radius: 2px;
}

.enter__input__wrapper__heading {
  font-family: Roboto-Bold;
  font-size: 16px;
  line-height: 20px;
  color: #181818;
  margin-top: 27px;
  margin-bottom: 10px;
}

.enter__input__container {
  display: flex;
}

.enter__input_first,
.enter__input_second {
  width: 100%;
  border: none;
  background: #f0f8ff;
  padding-left: 11px;
}

.enter__input_second {
  padding-left: 16px;
}

.enter__form__button__wrapper {
  width: 330px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 47px;
}

.enter__form button {
  width: 150px;
  height: 50px;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 2px;
  border: none;
  font-family: Roboto-Bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.enter__form_quastion {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #181818;
}

.enter__form_quastion span a {
  font-family: Gilroy-Bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #f6a409;
  text-decoration: none;
}

/* -------- mobile-app__social -------- */

.container-fluid {
  position: relative;
}

.up__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 2px;
  transform: rotate(180deg);
  bottom: 36px;
  left: 41px;
  cursor: pointer;
}

.up__btn img {
  width: 15px;
  height: 7.5px;
}

.message__send {
  position: absolute;
  width: 54px;
  height: 54px;
  text-align: center;
  line-height: 75px;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 96px;
  border: none;
  border-radius: 50%;
  bottom: 36px;
  right: 45px;
  cursor: pointer;
}

.footer__line {
  height: 1px;
  background: #cbe6ff;
  margin-bottom: 11.66px;
}

/* ------------------- footer ------------------ */
.footer_bg {
  background: #f0f8ff;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
  min-height: 340px;
}

.footer__logo-block {
  margin-top: 45px;
  margin-right: 68px;
}

.footer-logo__block__item {
  width: 133px;
  height: 40px;
  margin-top: 22px;
  font-family: Roboto-Light;
  font-size: 13px;
  line-height: 20px;
  color: #535353;
}

.footer__block1,
.footer__block2,
.footer__block3,
.footer__pay {
  margin-top: 54px;
  margin-right: 70px;
}

.footer__block1 {
  width: 102px;
}

.footer__block2 {
  width: 254px;
}

.footer__block3 {
  width: 201px;
}

.footer__pay {
  width: 160px;
  margin-right: 0;
}

.footer__block__heading {
  font-family: Roboto-Bold;
  font-size: 15px;
  line-height: 24px;
  color: #181818;
  margin-bottom: 6px;
}

.footer__block__heading_exep {
  margin-bottom: 9px;
}

.footer__block__item {
  font-family: Roboto-Regular;
  font-size: 13px;
  line-height: 20px;
  color: #535353;
}

.footer__img1,
.footer__img2 {
  width: 111.38px;
  height: 33px;
}

.footer__img1 {
  margin-bottom: 10px;
}

.footer__img2 {
  margin-bottom: 27px;
}
