* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Proxima-Nova";
  src: url(../fonts/Proxima-Nova/Proxima-Nova.ttf);
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy/gilroy-regular.ttf);
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(../fonts/Gilroy/gilroy-bold.ttf);
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(../fonts/Gilroy/gilroy-light.otf);
}

body {
  font-family: Roboto-Regular;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
  padding: 0;
  line-height: normal;
  font-family: Roboto-Bold;
}

.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  max-width: 1920px;
  padding: 0;
}

.container-fluid_blue {
  background: rgba(240, 248, 255, 0.7);
}

.container {
  max-width: 1170px;
  position: relative;
  padding: 0;
}

p {
  margin: 0;
  line-height: normal;
}

img {
  vertical-align: unset;
}

/* -------------- end of main styles -------------- */

/* -------------- header ----------------- */
#header {
  min-height: 58px;
  background: #004e97;
}

ul {
  list-style-type: none;
}

.menu-nav__ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
}

.menu-nav__ul li {
  height: 20px;
  text-decoration: none;
  position: relative;
}

.menu-nav__ul__li1 {
  min-width: 65px;
  margin-right: 2.68rem;
}
.menu-nav__ul__li2 {
  min-width: 85px;
  margin-right: 2.68rem;
}
.menu-nav__ul__li3 {
  min-width: 68px;
  margin-right: 2.81rem;
}
.menu-nav__ul__li4 {
  min-width: 128px;
  margin-right: 2.5rem;
}
.menu-nav__ul__li5 {
  min-width: 164px;
  margin-right: 2.5rem;
}
.menu-nav__ul__li6 {
  min-width: 60px;
  margin-right: 2.81rem;
}
.menu-nav__ul__li7 {
  min-width: 71px;
  margin-right: 6.93rem;
}

.menu-nav__ul__li8 {
  min-width: 162px;
}

.menu-nav__ul li a {
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 0.93rem;
  color: #fff;
}

.menu-nav__ul li:hover {
  cursor: pointer;
}

.header__nav-menu__dropdown1,
.header__nav-menu__dropdown2,
.header__nav-menu__dropdown3 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  min-width: 120px;
  display: none;
  background: #004e97;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 3px;
}

.header__nav-menu__dropdown2 {
  left: 30px;
}

.menu-nav__ul li:hover > ul,
.menu-nav__ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.menu-nav__ul li ul li {
  clear: both;
  padding: 5px 10px;
  display: block;
}

.menu-nav__ul__img {
  height: 4px;
  width: 10px;
}

.img__person {
  margin-right: 9px;
}

.img__arrow1,
.img__arrow2 {
  position: absolute;
  height: 4px;
  width: 10px;
  margin-left: 8px;
  top: 14px;
}

#menu-nav__toggle {
  opacity: 0;
}

.hidden {
  display: none;
}

/* --------------- header-menu ---------------- */

.header-menu {
  display: flex;
  flex-wrap: wrap;
  min-height: 80px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.header__logo {
  display: block;
  width: 222px;
  float: left;
}

.logo {
  margin-top: 11px;
}

.header__logo_small {
  width: 146px;
  height: 46px;
  margin-left: 20px;
  margin-top: 8px;
}

.header__logo__line {
  width: 1px;
  display: block;
  height: 68px;
  border: 1px solid #e4e4e4;
  transform: rotate(180deg);
  margin-top: 6px;
  float: left;
}

.header-menu__info {
  position: relative;
  min-height: 80px;
  width: 573px;
  display: block;
  float: left;
}

.header-menu__info__item1 {
  float: left;
  width: 166px;
  margin-top: 20px;
  margin-left: 2.25rem;
  font-family: Roboto-Regular;
  font-size: 17px;
  line-height: 20px;
  color: #181818;
}

.header-menu__info__item2 {
  float: left;
  margin-left: 6px;
  margin-top: 31px;
}

.header-menu__info__img1 {
  float: left;
  margin-left: 10.87rem;
  margin-top: 29px;
  cursor: pointer;
}

.header-menu__info__img2 {
  float: left;
  margin-left: 6px;
  margin-top: 38px;
  cursor: pointer;
}

.header-menu__info__img3 {
  float: left;
  margin-left: 31px;
  margin-top: 30px;
  cursor: pointer;
}

.header-menu__info__img4 {
  float: left;
  margin-left: 11px;
  margin-top: 38px;
  cursor: pointer;
}

.menu-block__contacts {
  position: relative;
  height: 80px;
  float: left;
  width: 369px;
}

.menu-block__contacts__item1 {
  margin-top: 17px;
  margin-bottom: 6px;
  margin-left: 29px;
  height: 20px;
  font-family: Roboto-Light;
  font-size: 15px;
  color: #181818;
  margin-right: 20px;
}

.menu-block__contacts__item2 {
  margin-left: 29px;
  height: 20px;
  font-family: Roboto-Bold;
  font-size: 18px;
  line-height: 20px;
  color: #181818;
  margin-right: 20px;
}

.header-menu__button {
  position: absolute;
  top: 19px;
  right: 0;
  width: 164px;
  height: 43px;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border: none;
  border-radius: 2px;
  background: #f6a409;
  color: #ffffff;
  font-family: Roboto-Bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

/* ------------ img-block ------------ */
.main-img__wrapper {
  position: absolute;
  background: linear-gradient(95.59deg, #141414 0.2%, #004e97 123.67%);
  width: 100%;
  height: 100%;
  opacity: 0.6;
  clip-path: inset(0 0 5px 0);
}

.main-img__block {
  position: relative;
  background: url(".././img/main-picture.png") center center;
  max-width: 1920px;
  height: 608px;
}

.main-img__block__h1 {
  position: absolute;
  width: 41.87rem;
  height: 6.5rem;
  top: 5.56rem;
  font-family: Roboto-Bold;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
  left: 50%;
  transform: translate(-50%);
}

.main-img__block__line {
  border: 1.5px solid #f6a409;
  background: #f6a409;
  width: 139px;
  position: absolute;
  top: 13.5rem;
  left: 50%;
  transform: translate(-50%);
}

.main-img__block__p {
  position: absolute;
  width: 36.43rem;
  height: 4rem;
  top: 15rem;
  font-family: Roboto-Regular;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
}

/* ------------ map-section ------------ */

.map-section {
  margin-top: -16.06rem;
  width: 100%;
  min-height: 543px;
  background: #ffffff;
  border-left: 1px solid #cbe6ff;
  border-right: 1px solid #cbe6ff;
  border-bottom: 1px solid #cbe6ff;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.map-secton__main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.map-section__block {
  width: 23.75rem;
}

.map-section__block_m1 {
  margin: 25px 7px 45px 30px;
}

.map-section__header {
  display: flex;
  min-height: 72px;
  background: #004e97;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.map-section__item {
  width: 20%;
  background: #004e97;
  cursor: pointer;
}

.map-section__item p {
  text-align: center;
  line-height: 72px;
  color: #ffffff;
  font-family: Roboto-Bold;
  font-size: 17px;
  cursor: pointer;
}

.map-section__item_orange {
  background: #f6a409;
  border-radius: 6px 0px 0px 0px;
}

.map-section__item_last {
  border-radius: 0px 6px 0px 0px;
}

.map-section__line {
  opacity: 0.4;
  width: 1px;
  display: block;
  height: 60px;
  background: #ffffff;
  border: 1px solid #ffffff;
  transform: rotate(180deg);
  margin-top: 6px;
  float: left;
}

.input-block1 {
  height: 30px;
  display: flex;
}

.input-block2 {
  height: 30px;
  float: left;
  margin-top: 35px;
}

.label1,
.label2 {
  position: relative;
  cursor: pointer;
  position: relative;
  font-size: 13px;
}

input[type="radio"] {
  display: none;
}

.label1:before,
.label2:before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  background: #f0f8ff;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  position: absolute;
}

.label2:before {
  height: 30px;
  width: 58px;
  border-radius: 15px;
}

.input__check1:checked + .label1:before,
.input__check2:checked + .label2:before {
  content: url("/img/circle.png");
  color: #004e97;
  text-align: center;
  line-height: 33px;
}

.input__check2:checked + .label2:before {
  text-align: left;
  padding-left: 10px;
}

.input-label__span1,
.input-label__span2,
.input-label__span3,
.input-label__span4 {
  margin-top: 5px;
  margin-left: 47px;
  font-family: Roboto-Bold;
  font-size: 16px;
  color: #181818;
  line-height: 20px;
}

.input-label__span1 {
  margin-right: 30px;
}

.input-label__span3,
.input-label__span4 {
  margin-left: 70px;
  line-height: 30px;
}

.map-section__block__input1__wrapper {
  position: relative;
}

.map-section__block__img {
  position: absolute;
  top: 14px;
  left: 12px;
  cursor: pointer;
}

.map-section__block__img_exep {
  top: 56px;
}

.map-section__block__arrow1 {
  position: absolute;
  top: 14px;
  right: 13px;
  width: 10px;
  height: 4px;
  cursor: pointer;
}

.map-section__block__arrow2 {
  position: absolute;
  top: 28px;
  right: 13px;
  width: 10px;
  height: 4px;
  cursor: pointer;
}

.input-label__span2 {
  display: block;
}

.map-section__block__wrapper1,
.map-section__block__wrapper2 {
  float: left;
  width: 11.25rem;
  overflow: hidden;
}

.map-section__block__wrapper2 {
  margin-left: 20px;
}

.map-section__block__heading {
  margin-bottom: 10px;
  font-family: Roboto-Bold;
  font-size: 16px;
  color: #181818;
  text-align: left;
  margin-top: 15px;
}

.map-section__block__input {
  background: #f0f8ff;
  border: 1px solid #cbe6ff;
  border-radius: 2px;
  color: #181818;
  line-height: 20px;
  font-size: 14px;
  font-family: Roboto-Light;
  height: 2.87rem;
  padding-left: 44px;
  width: 11.25rem;
}

.map-section__block__input_big {
  width: 23.75rem;
  height: 2.87rem;
}

.input-block2__wrapper1 {
  height: 30px;
  margin-bottom: 7px;
}

.map-section__button {
  float: left;
  margin-top: 99px;
  width: 46px;
  height: 46px;
  background: #cbe6ff;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.map-section__block_m2 {
  margin: 55px 30px 0 7px;
}

.map-section__block__heading_soft {
  opacity: 0.6;
}

.exept {
  display: inline-block;
}

.map-section__block__button {
  width: 180px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: none;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 2px;
  color: #ffffff;
  font-family: Roboto-Bold;
  font-size: 16px;
  margin-left: 16px;
  margin-top: -3px;
  cursor: pointer;
}

.map-section__block_m3 {
  margin-top: 33px;
}

.map-section__block3__map {
  width: 260px;
  height: 386px;
  border-radius: 2px;
  background: url("../img/map.png") no-repeat;
}

/* --------------- advantages ---------------- */

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages__h3 {
  text-align: center;
  padding-top: 80px;
  font-family: Roboto-Bold;
  font-size: 36px;
  line-height: 36px;
  color: #181818;
}

.short__line {
  margin: 16px auto 31px;
  width: 100px;
  background: #f6a409;
  border: 1.5px solid #f6a409;
}

.advantages__block {
  width: 270px;
  height: 210px;
  margin-right: 30px;
}

.advantages__block_exep {
  margin: 0;
}

.advantages__img {
  margin-bottom: 17px;
}

.advantages__item1 {
  font-family: Roboto-Bold;
  font-size: 18px;
  line-height: 24px;
  color: #181818;
  margin-bottom: 8px;
}

.advantages__item2 {
  font-family: Roboto-Light;
  font-size: 17px;
  line-height: 30px;
  color: #181818;
}

/* --------------- car-park ---------------- */

.car-park {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.car-park__card {
  width: 370px;
  margin-right: 30px;
}

.car-park__card_exep {
  margin: 0;
}

.car-park__car__img {
  max-width: 370px;
  min-height: 270px;
}

.car-park__car__img img {
  width: 100%;
  height: auto;
}

.car-park__heading {
  height: 20px;
  margin: 28px 0;
}

.car-park__heading__span1 {
  font-family: Roboto-Bold;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
  margin-right: 185px;
}

.car-park__heading__span2 img {
  padding-right: 10px;
}

.car-park__heading__span2 {
  display: inline-block;
  margin-right: 17px;
  line-height: 20px;
}

.car-park__heading__span3 img {
  padding-right: 10px;
}

.car-park__heading__span3 {
  display: inline-block;
  line-height: 20px;
}

.car-park__item {
  font-family: Roboto-Light;
  font-size: 17px;
  line-height: 32px;
  color: #181818;
}

.car-park__left-btn,
.car-park__right-btn {
  position: absolute;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 2px;
  width: 32px;
  height: 32px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.car-park__left-btn img,
.car-park__right-btn img {
  transform: rotate(180deg);
  padding-bottom: 5px;
}

.car-park__right-btn {
  left: -82px;
  top: 260px;
}

.car-park__left-btn {
  right: -82px;
  top: 260px;
}

.order__btn {
  width: 200px;
  height: 50px;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 2px;
  border: none;
  margin: 37px auto 83px;
  font-family: Roboto-Bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

/* --------------- reviews-block ---------------- */
.container-fluid_bg {
  margin-top: 83px;
  background: #f0f8ff;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
}

.reviews-block {
  width: 369px;
  margin-right: 31px;
}

.reviews-block__card__img__wrapper {
  height: 80px;
  padding-bottom: 20px;
}

.reviews-block__card__img,
.reviews-block__card__img__item1,
.blue__star__wrapper {
  float: left;
  display: block;
}

.reviews-block__card__img__item1 {
  margin: 20px 0 6.39px 20px;
  width: 269px;
  font-family: Roboto-Bold;
  font-size: 18px;
  line-height: 24px;
  color: #262626;
}

.blue__star {
  cursor: pointer;
}

.blue__star__wrapper {
  margin-left: 20px;
}

.reviews-block__card__item2__wrapper {
  width: 369px;
  height: 312px;
  margin-top: 24px;
  background: #ffffff;
  border-radius: 6px;
  padding: 24px 32px 32px 32px;
}

.reviews-block__card__img__item2 {
  font-family: Roboto-Light;
  font-size: 17px;
  line-height: 32px;
  color: #2e2e2e;
}

.reviews-block_exep {
  margin: 0;
}

.reviews__more {
  font-family: Roboto-Bold;
  color: #f6a409;
  cursor: pointer;
}

/* --------------- cityes-block ---------------- */

.advantages__h3_size {
  font-size: 32px;
  width: 483px;
  margin: 0 auto;
}

.cityes-block {
  display: flex;
  flex-wrap: wrap;
}

.cityes-block__ul1,
.cityes-block__ul2,
.cityes-block__ul3,
.cityes-block__ul4 {
  width: 270px;
  margin-right: 30px;
}
.cityes-block__ul4 {
  margin: 0;
}

ul li a {
  text-decoration: none;
  font-family: Roboto-Light;
  font-size: 18px;
  line-height: 30px;
  color: #181818;
}

ul li a img {
  padding-right: 18.76px;
}

p a {
  text-decoration: none;
  border-bottom: 1px dashed #f6a409;
  font-family: Roboto-Bold;
  font-size: 18px;
  line-height: 30px;
  color: #f6a409;
}
.cityes__p {
  margin-top: 23px;
}

/* --------------- faq-block ---------------- */

.faq-block {
  display: flex;
  flex-wrap: wrap;
}

.answer__block {
  margin-bottom: 60px;
}

.answer__block__div {
  background: #ffffff;
  width: 750px;
  height: 62px;
  margin-bottom: 6px;
  margin-right: 50px;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 17px 23px 17px 23px;
}

.answer__block_big {
  background: #ffffff;
  border: 1px solid #cbe6ff;
  width: 750px;
  border-radius: 2px;
  padding: 17px 23px 17px 23px;
  margin-bottom: 6px;
}

.answer-block__underline {
  width: 726px;
  margin: 20px 0 15px -12px;
  display: inline-block;
  border: 1px solid #cbe6ff;
}

.answer__block__item2 {
  font-family: Roboto-Light;
  font-size: 17px;
  line-height: 32px;
  color: #2e2e2e;
}

.answer__block__item {
  font-family: Roboto-Bold;
  font-size: 17px;
  line-height: 28px;
  color: #181818;
  display: inline-block;
}

.answer__block__div__img {
  float: right;
  line-height: 62px;
  margin-top: 8px;
  cursor: pointer;
}

.question__block {
  text-align: center;
  width: 370px;
  height: 470px;
  background: #ffffff;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.question__block__heading {
  padding: 34px 40px 7px 40px;
  font-family: Roboto-Bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #181818;
}

.question__block__item {
  font-family: Roboto-Light;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #181818;
  margin-bottom: 28px;
}

.question__block__underline {
  width: 344px;
  border: 1px solid #cbe6ff;
  margin: 0 auto 23px;
}

.question__block__input,
.question__block__textarea {
  width: 320px;
  height: 46px;
  background: #f0f8ff;
  border: 1px solid #cbe6ff;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: Roboto-Light;
  font-size: 14px;
  color: #181818;
  opacity: 0.7;
  padding-left: 22px;
  margin: 0 25px;
  margin-bottom: 10px;
}

.question__block__textarea {
  height: 92px;
  padding-top: 13px;
  resize: none;
}

.question__block__btn {
  width: 180px;
  height: 46px;
  border: none;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 2px;
  margin: 10px auto 28px;
  color: #ffffff;
  font-family: Roboto-Bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}

/* ------------ mobile-app ---------------- */

.mobile-app {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-height: 1123px;
}

.mobile-app__img-block__img1 {
  overflow: hidden;
  margin-top: 90px;
}

.mobile-app__info-block {
  margin-left: 87.74px;
  margin-top: 180px;
  width: 613px;
}

.mobile-app__info-block__item1 {
  width: 434px;
  margin-bottom: 20px;
  font-family: Roboto-Bold;
  font-size: 32px;
  line-height: 36px;
  color: #181818;
}

.mobile-app__info-block__item2 {
  font-family: Roboto-Light;
  margin-bottom: 31px;
  font-size: 17px;
  line-height: 30px;
  color: #535353;
}

.mobile-app__info-block__img1 {
  margin-right: 13px;
  cursor: pointer;
}

.mobile-app__info-block__img2 {
  cursor: pointer;
}

.mobile-app__social {
  width: 1173px;
  height: 270px;
  background: #f0f8ff;
  border-radius: 4px;
  margin-top: 103.9px;
  margin-bottom: 100px;
}

.mobile-app__social__item {
  text-align: center;
  font-family: Roboto-Bold;
  font-size: 32px;
  line-height: 36px;
  color: #181818;
  width: 538px;
  margin: 81px auto 24px;
}

.mobile-app__social__block {
  width: 370px;
  margin: 24px auto;
}
.mobile-app__social__block img {
  cursor: pointer;
  margin-right: 10px;
}

.container-fluid {
  position: relative;
}

.up__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 2px;
  transform: rotate(180deg);
  bottom: 36px;
  left: 41px;
  cursor: pointer;
}

.up__btn img {
  width: 15px;
  height: 7.5px;
}

.message__send {
  position: absolute;
  width: 54px;
  height: 54px;
  text-align: center;
  line-height: 75px;
  background: #f6a409;
  box-shadow: 0px 2px 4px rgba(246, 164, 9, 0.4);
  border-radius: 96px;
  border: none;
  border-radius: 50%;
  bottom: 36px;
  right: 45px;
  cursor: pointer;
}

.footer__line {
  height: 1px;
  background: #cbe6ff;
  margin-bottom: 11.66px;
}

/* ------------------- footer ------------------ */
.footer_bg {
  background: #f0f8ff;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
  min-height: 340px;
}

.footer__logo-block {
  margin-top: 45px;
  margin-right: 68px;
}

.footer-logo__block__item {
  width: 133px;
  height: 40px;
  margin-top: 22px;
  font-family: Roboto-Light;
  font-size: 13px;
  line-height: 20px;
  color: #535353;
}

.footer__block1,
.footer__block2,
.footer__block3,
.footer__pay {
  margin-top: 54px;
  margin-right: 70px;
}

.footer__block1 {
  width: 102px;
}

.footer__block2 {
  width: 254px;
}

.footer__block3 {
  width: 201px;
}

.footer__pay {
  width: 160px;
  margin-right: 0;
}

.footer__block__heading {
  font-family: Roboto-Bold;
  font-size: 15px;
  line-height: 24px;
  color: #181818;
  margin-bottom: 6px;
}

.footer__block__heading_exep {
  margin-bottom: 9px;
}

.footer__block__item {
  font-family: Roboto-Regular;
  font-size: 13px;
  line-height: 20px;
  color: #535353;
}

.footer__img1,
.footer__img2 {
  width: 111.38px;
  height: 33px;
}

.footer__img1 {
  margin-bottom: 10px;
}

.footer__img2 {
  margin-bottom: 27px;
}

/* ------------ @media ---------------- */
@media (max-width: 1200px) {
  /*header*/
  .menu-nav__ul {
    justify-content: space-between;
    padding: 10px 10px;
  }
  .menu-nav__ul li {
    margin: 10px auto;
  }
  .menu-nav__ul__li1 {
    min-width: 75px;
  }
  .menu-nav__ul__li2 {
    min-width: 95px;
  }
  .menu-nav__ul__li3 {
    min-width: 78px;
  }
  .menu-nav__ul__li4 {
    min-width: 138px;
  }
  .menu-nav__ul__li5 {
    min-width: 174px;
  }
  .menu-nav__ul__li6 {
    min-width: 70px;
  }
  .menu-nav__ul__li7 {
    min-width: 81px;
  }
  .menu-nav__ul__li8 {
    min-width: 172px;
  }
  .header-menu {
    justify-content: space-around;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  /* header */
  .header__logo__line {
    display: none;
  }
}

@media (max-width: 576px) {
  /* header */
  .menu-nav__ul li {
    margin: 0 auto;
  }
  .menu-nav__ul__li4 {
    margin-right: 1.5rem;
    margin-bottom: 10px;
  }
  .menu-nav__ul__li5 {
    margin-right: 1.5rem;
    margin-bottom: 10px;
  }
  .menu-nav__ul__li6 {
    margin-right: 4.5rem;
    margin-bottom: 10px;
  }
  .menu-nav__ul__li7 {
    margin-right: 2.5rem;
    margin-bottom: 10px;
  }
  .header-menu__info__item1 {
    margin-left: 1rem;
  }
  .header-menu__info__img1 {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 414px) {
  /* main */
  .hidden {
    display: block;
  }
  .hide-on-small {
    display: none;
  }
  .header-menu {
    display: none;
  }
  /* header */
  #header {
    height: 60px;
    background: #ffffff;
  }
  .mobile-header__logo {
    position: absolute;
    top: 0;
  }
  .underline {
    display: inline-block;
    height: 60px;
    width: 414px;
    height: 1px;
    display: block;
    border-bottom: 1px solid #cbe6ff;
    margin-bottom: 21px;
  }
  .menu-nav__ul {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 60px 0;
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    z-index: 99999;
  }
  .menu-nav__ul li {
    text-align: left;
    border: 1px solid #cbe6ff;
    margin: 0 auto 8px;
    display: block;
    line-height: 60px;
    height: 60px;
    width: 374px;
  }
  .header__nav-menu__dropdown1,
  .header__nav-menu__dropdown2,
  .header__nav-menu__dropdown3 {
    padding: 0;
    background: #ffffff;
    z-index: 999;
    left: -1px;
    top: 59px;
    margin-bottom: 20px;
  }
  .menu-nav__ul li ul li {
    text-align: left;
    display: block;
    margin: 0 auto;
    line-height: 60px;
    height: 60px;
    width: 374px;
    padding: 0;
    background: #ffffff;
  }
  .menu-nav__ul li ul li a {
    font-family: Roboto_regular;
    font-size: 14px;
    color: #181818;
    opacity: 0.7;
  }
  .menu-nav__ul li img {
    float: right;
    margin-right: 18px;
    margin-top: 25px;
  }
  .menu-nav__ul li a {
    color: #181818;
    font-size: 14px;
    font-family: Roboto-Bold;
    margin-left: 23px;
  }
  .menu-block__contacts {
    text-align: left;
  }
  .menu-block__contact__wrapper {
    position: static;
    margin-top: 236px;
    height: 80px;
    margin-left: 20px;
  }
  .menu-block__contacts__item1 {
    margin: 0;
    font-size: 15px;
  }
  .menu-block__contacts__item2 {
    width: 158px;
    margin: 0;
    font-size: 18px;
  }
  .header-menu__button {
    position: static;
    float: right;
    margin-top: -78px;
  }
  /* close-btn */
  .menu-nav__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20.14px;
    right: 28px;
    width: 20px;
    height: 16px;
    cursor: pointer;
    z-index: 9999999;
  }
  .menu-nav__btn > span,
  .menu-nav__btn > span::before,
  .menu-nav__btn > span::after {
    display: block;
    position: absolute;
    width: 27.5px;
    height: 2px;
    background-color: #f6a409;
    transition-duration: 0.25s;
  }
  .menu-nav__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-nav__btn > span::after {
    content: "";
    top: 8px;
  }
  #menu-nav__toggle:checked ~ .menu-nav__btn > span {
    transform: rotate(45deg);
  }
  #menu-nav__toggle:checked ~ .menu-nav__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu-nav__toggle:checked ~ .menu-nav__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-nav__toggle:checked ~ .menu-nav__ul {
    visibility: visible;
    left: 0;
  }
  /*map-section*/
  .map-section {
    position: relative;
    margin: -315px auto 0;
    max-width: 374px;
    overflow: hidden;
  }
  .map-section__header {
    min-height: unset;
    height: 60px;
    position: relative;
  }
  .map-section__header__btn {
    position: absolute;
    top: 25px;
    right: 20px;
  }
  .map-section__item {
    display: none;
  }
  .map-section__item_orange {
    display: block;
    width: 234px;
  }
  .map-section__item_orange p {
    line-height: 60px;
  }
  .map-section__item_spec {
    display: block;
    overflow: hidden;
  }
  .map-section__item_spec p {
    line-height: 60px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    margin-left: 25px;
  }
  .map-section__line {
    display: none;
  }
  .map-section__line_spec {
    display: block;
    height: 50px;
  }
  .main-img__block {
    background: url("../img/driver.png");
  }
  .main-img__block__h1 {
    top: 64px;
    width: 374px;
    height: 68px;
    font-size: 30px;
    line-height: 115%;
  }
  .main-img__block__line {
    top: 170px;
  }
  .main-img__block__p {
    top: 189px;
    width: 375px;
    height: 50px;
    font-size: 18px;
    line-height: 140%;
  }
  .map-section__block {
    margin: 0;
  }
  .map-secton__main-wrapper {
    position: relative;
    margin: 19px 20px 49px;
  }
  .map-section__button {
    float: none;
    margin: 0;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 128px;
    right: 0;
  }
  .map-section__button1 {
    width: 11.76px;
  }
  .map-section__button2 {
    width: 11.76px;
    padding-bottom: 10px;
  }
  .small,
  .map-section__block__wrapper1,
  .map-section__block__wrapper2 {
    width: 156px;
  }
  .input-block2 {
    margin-top: 26px;
    margin-bottom: 26px;
  }
  .map-section__block3__map {
    background: url("../img/width-map.png");
    width: 333px;
    height: 200px;
  }
  .map-section__block__input,
  .map-section__block__button {
    width: 9.75rem;
  }
  .hidden__block input,
  .map-section__block__input_big {
    width: 20.87rem;
  }
}
